.orders-container {
	background-color: var(--light-color);
	margin-top: 70px;
	padding-bottom: 50px;
}

.orders-container h3 {
	margin: 0;
}

.orders-steps-container {
	display: flex;
	justify-content: center;
	background-color: #fff;
	/* margin-bottom: 30px; */
	padding: 10px 30px;
}

.orders-steps-content {
	display: flex;
	padding: 30px 0;
	width: 70%;
}

.steps-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 34px;
	text-transform: uppercase;
	letter-spacing: -0.015em;
	color: var(--primary-color);
	margin-right: 100px;
}

.steps-items {
	list-style-type: none;
}

.steps-items li {
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.015em;
	color: var(--secondary-color);
}

.steps-items .steps-number {
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: 33px;
	letter-spacing: -0.015em;
	color: var(--primary-color);
	margin-right: 10px;
}

.orders-list-container {
	padding: 30px 30px;
	display: flex;
	justify-content: center;
}

.orders-list-items {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 235px);
	grid-gap: 30px 15px;
	justify-content: space-evenly;
}

.order-card-container {
	background-color: #fff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 15px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.order-card-container.selected {
	border: 4px solid var(--selected-color);
	box-sizing: border-box;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

.order-card-container.selected .order-card-title {
	color: var(--selected-color);
}

.order-card-container.selected .order-card-price {
	color: var(--selected-color);
}

.order-card-container:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
	transform: scale(1.02);
}

.order-card-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.015em;
	color: var(--primary-color);
	text-align: center;
}

.order-card-image {
	border-radius: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}

.order-card-price {
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: -0.015em;
	color: var(--primary-color);
	text-align: left;
}

.order-card-description {
	border-top: 1px solid #e6e6e6;
	margin-top: 15px;
	padding-top: 15px;
}

.order-card-description h3 {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: var(--secondary-color);
}

.order-card-description p {
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: -0.015em;

	color: var(--secondary-color);
}

.order-location-container {
	display: flex;
	justify-content: center;
}

.order-location-content {
	width: 70%;
	margin: 30px 0 120px 0;
	padding: 20px 0;
	height: 400px;
	background: #fff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.filter-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.filter {
	width: 80%;
}

.filter > div {
	border-radius: 20px;
	min-height: 60px;
}

.leaflet-container {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	margin-top: 20px;
	z-index: 0;
}

.order-location-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: -0.015em;
	color: var(--secondary-color);
}

.order-summary-container {
	display: flex;
	justify-content: center;
	/* margin-bottom: 30px; */
}

.order-summary-content {
	width: calc(70% - 40px);
	display: flex;
	justify-content: space-between;
	background: #fff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	background-color: var(--primary-color);
	color: #fff;
	padding: 20px;
}

.amount-selected-container {
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: -0.015em;
	display: block;
	margin-bottom: 10px;
}

.amount-selected {
	font-weight: bold;
	font-size: 20px;
	line-height: 15px;
	letter-spacing: -0.015em;
	margin-right: 10px;
}

.amount-selected + span {
	text-transform: uppercase;
	font-size: 14px;
}

.order-summary-total {
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: -0.015em;
	color: #fff;
	display: block;
}

.order-summary-price {
	font-weight: bold;
	font-size: 18px;
	line-height: 19px;
	letter-spacing: -0.015em;
	color: #fff;
	margin-right: 5px;
}

.order-summary-make-order {
	width: 220px;
	height: 45px;
	background: #fff;
	border-radius: 20px;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: -0.015em;
	color: var(--primary-color);
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.order-summary-make-order:focus {
	outline: none;
}

.order-summary-make-order:hover {
	/* background-color: #fcf2f2; */
	filter: brightness(92%);
	transform: scale(1.02);
}

@media only screen and (max-width: 768px) {
	.orders-steps-content {
		display: flex;
		flex-direction: column;
		padding: 0;
		width: 90%;
	}

	.steps-items {
		padding: 0;
	}

	.order-location-content {
		width: 90%;
	}

	.order-location-container {
		margin-bottom: 20px;
	}

	.order-summary-content {
		width: 80%;
		display: flex;
		flex-direction: column;
	}

	.order-summary-make-order {
		margin-top: 15px;
		width: 100%;
	}
}
