.not-found-container {
	margin: 70px 30px;
	padding-top: 25px;
	padding-bottom: 25px;
	height: calc(100vh - 258px);
}

.not-found-container h1.not-found-code {
	margin: 0;
	font-weight: 800;
	font-size: 80px;
	line-height: 60px;
	letter-spacing: 0.04em;
	color: var(--dark-color);
}

.not-found-actions {
	text-align: center;
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.not-found-content {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin: 50px 50px;
}

.not-found-text {
	line-height: 33px;
	letter-spacing: -0.015em;
	color: var(--secondary-color);
	margin: 30px 0;
}

.home-btn {
	background-color: var(--primary-color);
	border-radius: 20px;
	padding: 20px 25px;
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: -0.015em;
	line-height: 1.6em;
	color: #fff;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.home-btn:hover {
	background-color: var(--primary-hover-color);
	transform: scale(1.02);
}

.not-found-image svg {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.not-found-container {
		margin-bottom: 0;
	}

	.not-found-content {
		flex-direction: column-reverse;
	}

	.not-found-text {
		text-align: center;
	}

	.not-found-actions {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.not-found-image {
		text-align: center;
	}

	.not-found-image svg {
		margin: 50px auto;
		width: 90%;
		min-width: 80%;
		height: 80%;
	}
}

@media (max-height: 700px) {
	.not-found-container {
		height: auto;
	}
}

@media (max-width: 350px) {
	.not-found-code {
		font-size: 35px;
		line-height: 48px;
	}
}
